:root {
    --bcg-preimery:#000000;

}


body {
    color: var(--white);
    font-family: "Sen", sans-serif;
    background-color:var(--bcg-preimery);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  /* Reset styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  a {
    color: currentColor;
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
  }
  
  img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: cover; 
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  button {
    font-family: inherit;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
  /* Додаємо базовий клас для елементів, які будуть анімовані */
  
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    transition-delay: 0.2s; /* Додаємо затримку тут */
    visibility: hidden;
  }