:root {
--bcg-preimery:#000000;
--bcg-secondary:#181823;
--c-light-grey:#DEECF9;
--c-grey:#8491A0;
--c-dark-grey:#C7E0F4;
--c-text:#ffffff;
--c-text-tr:#ffffff5A;
--c-blue:#5221E6;
--c-green-accent:#3CC74E;
--c-pink-accent:#E95D90;
--c-peach-accent:#FFF3E4;
--c-violet-accent:#FBE4FF;
--c-blue-accent:#609BFF;
}


body {
    color: var(--c-text);
    font-family: "Sen", sans-serif;
    background-color:var(--bcg-preimery);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  /* Reset styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  a {
    color: currentColor;
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
    font-family: inherit;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

  /* header */

  .header {
    max-width: 360px;
    margin: 0 auto;
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  
  
  .logo-img {
    padding-top: 24px;
    padding-bottom: 24px;

  }
  .nav-list {
    display: none;
  }
  .menu-svg {
    cursor: pointer;
  }

  .section-hero {
   max-width: 360px;
   margin: 0 auto;
  }
  
  .container-hero {
    padding: 48px 20px;
  }
  
  .hero-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.22;
    margin-bottom: 16px;
  }
  .hero-accent {
  color: var(--c-text-tr);
  }
  .hero-text {
    font-size: 18px;
    line-height: 1.5;
  }
  /* END header */

  /* Section-experience */
  .section-experience {
    max-width: 360px;
    padding: 48px 0;
    margin: 0 auto;
  }
  .container {
    padding: 0 20px;
  }
  .heading-text {
   text-transform: uppercase;
   color: var(--c-grey);
   font-size: 16px;
   font-weight: 700;
   line-height: 1.5;
   margin-bottom: 8px;
  }
  .title-secondary { 
    font-size: 32px;
    line-height: 1.22;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .experiece-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .experiece-item {
    flex-basis: 100%;
  }
  .experiece-number {
    color: var(--c-grey);
    font-size: 116px;
    line-height: 1.2;
  }
  .title-tertiary {
    font-size: 24px;
    line-height: 1.22;
    margin-bottom: 16px;
    letter-spacing: 0.01em;
  }
  .green-accent {
    color: var(--c-green-accent);
  }
  .blue-accent {
    color: var(--c-blue-accent);
  }
  .pink-accent {
    color: var(--c-pink-accent);
  }
  .experience-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--c-grey);
  }
  /* END Section-experience */

  @media screen and (min-width: 767.8px) {
    .header {
      max-width: 768px;
    }
    .header-inner {
      padding-left: 40px;
      padding-right: 40px;
    }
    .logo-img {
      padding-top: 30px;
      padding-bottom: 30px;
  
    }
    .nav-list {
      display: flex;
    }
    .nav-item {
     font-size: 16px;
     line-height: 1.5;
    }
    .nav-link {
      padding: 32px 24px;
      transition: background-color 0.4s ease-in-out;
      background-color: transparent;
    }
    .nav-link:hover {
      background-color: var(--c-blue);
    }
    .menu-svg {
      display: none;
    }
    .section-hero {
      padding: 80px 40px 84px 0;
      max-width: 768px;
      height: 814px;
     }
     .hero-wraper {
      position: relative;
     }
     .container-hero {
      padding: 88px 0 88px 320px;
      position: absolute;
      z-index: 1;
     }
     .hero-img {
      position: absolute;
      left: 0;
      width: 384px;
      z-index: 0;
    }
    .hero-title {
      font-size: 56px;
      margin-bottom: 32px;
    }


    .section-experience {
      max-width: 768px;
      padding: 80px 0;
    }
    .container {
      padding: 0 40px;
    }
    .title-secondary { 
      font-size: 55px;
      line-height: 1.2;
    }
    .experiece-item {
      flex-basis: calc((100% - 80px) / 3);
    }

  }

  @media screen and (min-width: 1439.8px) {
    .header {
      max-width: 1440px;
      background: linear-gradient(to right, var(--bcg-preimery) 38%, var(--bcg-secondary) 38%);
    }
    .header-inner {
      padding-left: 72px;
      padding-right: 72px;
    }
    .section-hero {
      padding: 80px 40px 84px 0;
      max-width: 1440px;
      height: 814px;
     }
     .container-hero {
      padding: 141px 0 141px 662px;
     }
     .hero-img {
      width: 750px;
    }
    .hero-title {
      font-size: 78px;
      margin-bottom: 32px;
    }


    .section-experience {
      max-width: 1440px;
      padding: 120px 0;
    }
    .container {
      padding: 0 72px;
    }
    .title-secondary {
      width: 690px;
    }
    .experiece-list {
      gap: 24px;
    }
    .experiece-item {
      flex-basis: calc((100% - 48px) / 3);
    }

  }