:root {
--bcg-preimery:#000000;
--bcg-secondary:#181823;
--c-light-grey:#DEECF9;
--c-grey:#8491A0;
--c-dark-grey:#C7E0F4;
--c-text:#ffffff;
--c-text-dark-grey:#5B6876;
--c-text-secondary:#000000;
--c-text-tr:#ffffff5A;
--c-blue:#5221E6;
--c-green-accent:#3CC74E;
--c-pink-accent:#E95D90;
--c-peach-accent:#FFF3E4;
--c-violet-accent:#FBE4FF;
--c-blue-accent:#609BFF;
}


body {
    color: var(--c-text);
    font-family: "Sen", sans-serif;
    background-color:var(--bcg-preimery);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  /* Reset styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  a {
    color: currentColor;
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
    font-family: inherit;
  }
  
  img {
    display: block;
    height: auto;
    object-fit: cover; 
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

  /* header */

  .header {
    max-width: 360px;
    margin: 0 auto;
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  
  
  .logo-img {
    padding-top: 24px;
    padding-bottom: 24px;

  }
  .nav-list {
    display: none;
  }
  .menu-svg {
    cursor: pointer;
  }

  .section-hero {
   max-width: 360px;
   margin: 0 auto;
  }
  
  .container-hero {
    padding: 48px 20px;
  }
  
  .hero-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.22;
    margin-bottom: 16px;
  }
  .hero-accent {
  color: var(--c-text-tr);
  }
  .hero-text {
    font-size: 18px;
    line-height: 1.5;
  }
  /* END header */

  /* Section-experience */
  .section-experience {
    max-width: 360px;
    padding: 48px 0;
    margin: 0 auto;
  }
  .container {
    padding: 0 20px;
  }
  .heading-text {
   text-transform: uppercase;
   color: var(--c-grey);
   font-size: 16px;
   font-weight: 700;
   line-height: 1.5;
   margin-bottom: 8px;
  }
  .title-secondary { 
    font-size: 32px;
    line-height: 1.22;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .experiece-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .experiece-item {
    flex-basis: 100%;
  }
  .experiece-number {
    color: var(--c-grey);
    font-size: 116px;
    line-height: 1.2;
  }
  .title-tertiary {
    font-size: 24px;
    line-height: 1.22;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
  }
  .green-accent {
    color: var(--c-green-accent);
  }
  .blue-accent {
    color: var(--c-blue-accent);
  }
  .pink-accent {
    color: var(--c-pink-accent);
  }
  .experience-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--c-grey);
  }
  /* END Section-experience */

  /* Section-philosophy */
  .philosophy {
    max-width: 360px;
    margin: 0 auto;
    background-color: var(--c-peach-accent);
    color: var(--c-text-secondary);
  }
  .philosophy-kontent {
    padding: 48px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
  }

  .title-light {
    margin-bottom: 24px;
  }
  .philosophy-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--c-text-dark-grey);
    margin-bottom: 90px;
  }
  .philosophy-link {
    border-bottom: 1px solid var(--c-text-dark-grey);
    cursor: pointer;
    transition: color 0.4s ease-in-out, border-bottom 0.4s ease-in-out;
  }
  .philosophy-link:hover {
    border-bottom: 1px solid var(--c-text-secondary);
    color: var(--c-text-dark-grey);
  }
  /* END Section-philosophy */

  /* Skills-section */

  .skills-section {
    padding: 64px 0;
    max-width: 360px;
    margin: 0 auto;
  }
  .skills-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
  }
  .title-skills {
    font-size: 32px;
    line-height: 1.22;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 14px;
  }
  .skills-text-advantages {
    font-size: 18px;
    line-height: 1.5;
    color: var(--c-grey);
    padding-bottom: 21px;
  }
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
  }
  .skills-icon {
    fill: var(--bcg-preimery);
    stroke: var(--c-blue);
    margin-bottom: 24px;
  }
  .skill {
    flex-basis: 100%;
  }
  .title-tertiary-skill {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 12px;
  }

  /* END Skills-section */


  /* Brands-section */

  .brands {
    max-width: 360px;
    margin: 0 auto;
  }
  .brands-list {
    display: flex;
    flex-wrap: wrap;
  }
  .brand {
    flex-basis: calc(100% / 2);
  }
  .brand-item {
    min-width: 180px;
    min-height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bcg-secondary);
  }


  /* END Brands-section */

  /* Projects-section */

  .projects {
    max-width: 360px;
    margin: 0 auto;
    padding: 64px 0;
  }
  .project-title {
    font-size: 32px;
    line-height: 1.22;
    font-weight: 700;
    margin-bottom: 80px;
  }
  .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
  }
  .project-card {
    flex-basis: 100%;
  }
  .project-item {
    background-color: var(--bcg-secondary);
  }
  .project-inner {
    padding: 40px 32px;
  }
  .title-project {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 13px;
  }
  .project-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--c-text-dark-grey);
  }
  .project-wrap {
    display: none;
  }

  /* END Projects-section */

  /* Dribbble-section */

  .dribbble-section {
    padding: 64px 0;
    margin: 0 auto;
    max-width: 360px;
  }
  .dribbble-title {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.22;
    margin-bottom: 24px;
  }
  .dribbble-text {
    font-size: 18px;
    line-height: 1.5;
    color: var(--c-grey);
    margin-bottom: 40px;
  }
  .dribbble-link {
    border-bottom: 1px solid var(--c-text-dark-grey);
    cursor: pointer;
    transition: color 0.4s ease-in-out, border-bottom 0.4s ease-in-out;
  }
  .dribbble-link:hover {
    color: var(--c-grey);
    border-bottom: 4px solid var(--c-violet-accent);
  }

  .screen-head {
    padding: 16px 12px;
    background-color: var(--bcg-secondary);
    margin-top: 68px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .screen-wrap {
    max-width: 320px;
  }
  .screen-icon {
    fill: var(--c-text-dark-grey);
  }
  .dribbble-img {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  

  /* END Dribbble-section */


  /* About my section */

  .about-my-section {
    max-width: 360px;
    margin: 0 auto;
    padding: 48px 0;
  }
  .about-my-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
  }
  .title-about-my {
    font-size: 32px;
    line-height: 1.22;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .text-about-my {
    font-size: 18px;
    line-height: 1.5;
    color: var(--c-grey);
    margin-bottom: 40px;
  }
  .about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
  }
  .about-card {
    width: 100%;
  }
  .about-card-content {
    padding: 32px;
    border: 1px solid var(--c-text-dark-grey);
  }
  .about-title {
    margin-bottom: 64px;
  }
  .about-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 4px;
    color: var(--c-grey);
  }
  .about-text-normal {
    font-size: 18px;
    line-height: 1.5;
    color: var(--c-grey);
  }

  /* END About my section */

  /* Photo-section */

  .photo-section {
    max-width: 360px;
    margin: 0 auto;
    padding: 48px 0;
  }
  .photo-title {
   font-size: 32px;
   line-height: 1.22;
   font-weight: 700;
   margin-bottom: 24px;
  }
  .photo-text {
    font-size: 18px;
    line-height: 1.5;
    color: var(--c-grey);
    margin-bottom: 40px;
  }
  .photo-country {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .photo-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .button-country {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid var(--c-blue);
    text-transform: uppercase;
  }
  .preimery-btn {
    background-color: var(--c-blue);
  }
  .photo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  /* END Photo-section */

  @media screen and (min-width: 767.8px) {
    .header {
      max-width: 768px;
    }
    .header-inner {
      padding-left: 40px;
      padding-right: 40px;
    }
    .logo-img {
      padding-top: 30px;
      padding-bottom: 30px;
  
    }
    .nav-list {
      display: flex;
    }
    .nav-item {
     font-size: 16px;
     line-height: 1.5;
    }
    .nav-link {
      padding: 32px 24px;
      transition: background-color 0.4s ease-in-out;
      background-color: transparent;
    }
    .nav-link:hover {
      background-color: var(--c-blue);
    }
    .menu-svg {
      display: none;
    }
    .section-hero {
      padding: 80px 40px 84px 0;
      max-width: 768px;
      height: 814px;
     }
     .hero-wraper {
      position: relative;
     }
     .container-hero {
      padding: 88px 0 88px 320px;
      position: absolute;
      z-index: 1;
     }
     .hero-img {
      position: absolute;
      left: 0;
      width: 384px;
      z-index: 0;
    }
    .hero-title {
      font-size: 56px;
      margin-bottom: 32px;
    }


    .section-experience {
      max-width: 768px;
      padding: 80px 0;
    }
    .container {
      padding: 0 40px;
    }
    .title-secondary { 
      font-size: 55px;
      line-height: 1.2;
    }
    .experiece-item {
      flex-basis: calc((100% - 80px) / 3);
    }


    .philosophy {
      max-width: 768px;
    }
    .philosophy-kontent {
      padding: 80px 40px;
    }
    .philosophy-wrap {
      display: flex;
    }
    .philosophy-kontent {
      flex-basis: calc(100% / 2);
    }
    .philosophy-photo {
      flex-basis: calc(100% / 2); 
    }
    
    .philosophy-text {
      margin-bottom: 68px;
    }


    .skills-section {
      padding: 80px 0;
      max-width: 768px;
    }
    .title-skills {
      font-size: 55px;
      line-height: 1.2;
      margin-bottom: 16px;
      margin-top: 0px;
    }
    .skills-list {
     row-gap: 48px;
     column-gap: 24px;
    }
    .skill {
      flex-basis: calc((100% - 24px) / 2);
      padding-right: 48px;
    }
    .skills-text-advantages {
      padding-bottom: 0px;
  }


  .brands {
    max-width: 768px;
  }
  .project-title {
    font-size: 55px;
    line-height: 1.22;
  }

  .projects {
    max-width: 768px;
    padding: 80px 0;
  }
  .title-project {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 13px;
  }
  .project-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--c-text-dark-grey);
  }



  .dribbble-section {
    padding: 80px 0;
    max-width: 768px;
  }
  .screen-wrap {
    max-width: 688px;
  }
  .screen-head {
    padding: 16px 12px;
    background-color: var(--bcg-secondary);
    margin-top: 120px;
  } 



  .about-my-section {
    max-width: 768px;
    padding: 80px 0;
  }
  .about-my-inner {
    gap: 24px;
  }
  .about-flex {
    flex-basis: calc((100% - 24px) / 2);
  }
  .title-about-my {
    font-size: 55px;
    line-height: 1.22;
    margin-bottom: 24px;
  }



  .photo-section {
    max-width: 768px;
    padding: 80px 0;
  }
  .photo-title {
   font-size: 55px;
   
  }
  .photo-text {
    margin-bottom: 64px;
  }
  .photo-list .photos:nth-child(1) {
    order: 1;
  }
  .photo-list .photos:nth-child(2) {
    order: 3;
  }
  .photo-list .photos:nth-child(3) {
    order: 2;
  }
  .photo-list .photos:nth-child(4) {
    order: 4;
  }
  .photo-country {
    gap: 24px;
    flex-wrap: nowrap;
    margin-bottom: 40px;
    width: 490px;
  }
  .photo-item {
    flex-grow: 0;
  }
  

  
  
  }

  @media screen and (min-width: 1439.8px) {
    .header {
      max-width: 1440px;
      background: linear-gradient(to right, var(--bcg-preimery) 38%, var(--bcg-secondary) 38%);
    }
    .header-inner {
      padding-left: 72px;
      padding-right: 72px;
    }
    .section-hero {
      padding: 80px 40px 84px 0;
      max-width: 1440px;
      height: 814px;
     }
     .container-hero {
      padding: 141px 0 141px 662px;
     }
     .hero-img {
      width: 750px;
    }
    .hero-title {
      font-size: 78px;
      margin-bottom: 32px;
    }


    .section-experience {
      max-width: 1440px;
      padding: 120px 0;
    }
    .container {
      padding: 0 72px;
    }
    .title-secondary {
      width: 690px;
    }
    .experiece-list {
      gap: 24px;
    }
    .experiece-item {
      flex-basis: calc((100% - 48px) / 3);
    }
    


    .philosophy {
      max-width: 1440px;
    }
    .philosophy-kontent {
      padding: 120px 72px;
    }
    .title-light {
      width: 576px;
    }
    .philosophy-text {
      width: 576px;
      margin-bottom: 134px;
    }

    .skills-section {
      padding: 120px 0;
      max-width: 1440px;
    }
    .skills-wrap {
      gap: 24px;
    }
    .skills-advantages {
      padding-right: 48px;
      flex-basis: calc((100% - 24px) / 3);
    }
    .skills-inner {
      flex-basis: calc((100% - 24px) / 3 * 2);
    }


    .brands {
      max-width: 1440px;
    }
    .brand {
      flex-basis: calc(100% / 6);
    }

    .projects {
      max-width: 1440px;
      padding: 120px 0 0;
    }
    
    .project-title {
      width: 590px;
      display: inline-block;
    }

    .project-text {
      display: inline-block;
    }
    .heading-text {
     width: 590px;
    }
    .project-list {
      gap: 24px;
    }

    .project-card {
      flex-basis: calc((100% - 24px) / 2);
    }
    .project-relativ {
      position: relative;
      top: -244px;
    }
    .project-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 24px 32px;
      border: 1px solid var(--c-blue);
      margin-top: 90px;
      width: 248px;
      margin: 90px auto 0;
    }

    .project-link {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 700;
      text-transform: uppercase;
    }


    .dribbble-section {
      padding: 120px 0;
      max-width: 1440px;
    }
    .dribbble-container {
      padding: 0 182px;
    }
    .dribbble-text {
      width: 636px;
    }
    .screen-wrap {
      max-width: 1076px;
    }
    .screen-head {
      padding: 16px 12px;
      background-color: var(--bcg-secondary);
      margin-top: 120px;
    } 



    .about-my-section {
      max-width: 1440px;
      padding: 120px 0;
    }
    .about-flex-title {
      padding-right: 48px;
    }
    .about-card-content {
      padding: 64px;
    }


    .photo-section {
      max-width: 1440px;
      padding: 120px 0;
    }
    .photo-text {
      width: 588px;
    }
    

  }